/* common shared style */
* {
    font-family: 'Mulish', sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.nav-title {
    display: inline-flex;
    align-items: center;
}
.nav-title img{
    width: 3rem;
    height: 3.75rem;
    padding-right: 1rem;
}
.title{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-bar > ul{
    display: flex;
    gap: 1rem;

}
.nav-bar li {
    list-style: none;
    
}
.nav-bar a {
    text-decoration: none;
    color: #424247;
    font-size: 1.1rem;
    font-weight: 400;
}

/* Travel Search Section */

.search{
    background-image: url('./Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    justify-content: center;
}
.travel-search {
    display: flex;
    flex-direction: column;
}

.search-title {
    /* color: #FFF; */
    font-size: 4rem;
    font-weight: 800;
}
.search-description {
    /* color: #FFF; */
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1.5rem;
}
.search-destination {
    margin-top: 4rem;
}